@import '../../main.scss';

.box-card-video{
    display: flex;
    width: 100%;
    height: 94px;
    overflow: hidden;
    cursor: pointer;
    & .box-img{
        width: 55%;
        overflow: hidden;
        & img{
            width: 100%;
            height: 100%;
        }  
    }
    & .box-info{
       width: 80%;
        &title-video{
            color: $text-color-primary;
            margin:0;
            font-size: 1.023rem;
            display: block;
            height: 68px;
            overflow: hidden;
        }
        & .box-view{
            display: flex;
            align-items: center;
            & .box-count{
                color: $text-color-secondary;
                font-weight: 700
            }
        }

    }
}
