@import '../../../main.scss';

.container-modal-video {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 16px;
    max-width: 490px;
    flex-direction: column; 
    & .box-icon-close {
        width: 100%;
        text-align: right;
        & a{
            cursor: pointer
        }  
    }
    & .box-video {
        width: 100%;
        height: 250px;
    }
   
    & .box-info {
        & .box-info-over {
            display: flex;
            flex-direction: row;

            & .title-video {
                color: $text-color-primary;
                margin:0;
                font-size: 1.023rem;
                padding: 8px 0;
                font-weight: 600;
                width: 80%;
            }
            & .box-icon-action {
                width: 20%;
                justify-items: center;
                justify-content: flex-end;
                display: inline-flex;
                padding: 8px 0;
                & a{
                    cursor: pointer
                }  
            }
            @media only screen and (max-width: 600px) {
                & .title-video {
                    
                    font-size: .9rem;
                    padding: 4px 0;
                }
            }
        }
        & .box-description {
            font-size: 0.9rem;
        }    
        
    }
}
