@import '../../main.scss';

.toolbar-color{
    background-color: $primary-color;
    color:$text-contraste-color;
    & .titulo{
       font-size: 1.3em;    
    }
}
.bar-color{
    background-color: $primary-color !important;
  
} 
.box-brand{
    display: flex;
    align-items: center;
}