@import '../../../main.scss';

$border-color: #c8c8c8;
.tooltip {
    position: relative;
    display: inline-block;
    font-weight: 600;
   
    & .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #fff;
        color: #000;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
      }
    &:hover .tooltiptext {
        visibility: visible;
        border: 2px solid $border-color;
    }
    & .top {
        width: 120px;
        bottom: 100%;
        left: 50%; 
        margin-left: -60px; 
        &::after {
            content: " ";
            position: absolute;
            top: 100%; 
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $border-color transparent transparent transparent;
        }
    } 
    & .bottom {
        width: 120px;
        top: 100%;
        left: 50%; 
        margin-left: -60px;
        &::after {
            content: " ";
            position: absolute;
            bottom: 100%; 
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $border-color transparent transparent transparent;
        }      
    } 
    & .left{
        top: -5px;
        right: 105%; 
    }
    & .right {
        top: -5px;
        left: 105%; 
    }   
}

