@import '../../main.scss';

.search-box{
    position: relative;
    margin-left: 0;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);

    & .icon-box{
      width: 56px;
      position: absolute;
      height: 100%;
      display:flex;
      align-items: center;
      justify-content: center;
    }
    & .input-box{
      cursor: text;
      display: inline-flex;
      font-size: 1rem;
      box-sizing: border-box;
      align-items: center;
      width: 100%
    }
    & .input{
      width: 100%;
      padding: 8px 8px 8px 56px;
      transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font: inherit;
      color: currentColor;
      border: 0;
      height: 1.1875em;
      margin: 0;
      display: block;
      min-width: 0;
      background: none;
      box-sizing: content-box;
      -webkit-tap-highlight-color: transparent;
    }
    & .input[type=text]:focus {
        width: 100%;
        outline-offset: -2px;
    }
        
}

input::placeholder {
  color: $text-contraste-color;
}

.space-between{
  justify-content: space-between
}