$primary-color: #a83b5d;
$secondary-color: #a83b5d;
$text-color-primary: #a83b5d;
$text-color-secondary: #c8c8c8;
$text-contraste-color: #fff;

*{
  font-family: 'Open Sans Condensed', sans-serif;
  box-sizing: border-box;
}

body{
  font-size:16px
}

h1, h2,h3, h5{
  color: $primary-color;
}
